useDynLib(TumorGenerator, .registration=TRUE)
export(simulateTumor, visualizeTumor, plotSlice, spatialDistribution,
bulkSample, randomBulkSamples, singleCell, randomSingleCells)
importFrom(Rcpp, evalCpp)
