useDynLib(SITH, .registration=TRUE)
export(simulateTumor, 
simulateTumorMTBP,
visualizeTumor, 
plotSlice, 
spatialDistribution,
bulkSample, 
randomBulkSamples, 
singleCell, 
randomSingleCells, 
randomNeedles,
progressionChain,
progressionDAG_from_igraph)
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "colorRampPalette", "rgb")
importFrom("graphics", "hist", "par", "plot")
importFrom("stats", "rbinom")
importFrom("stats", "rpois") 
importFrom("scatterplot3d", "scatterplot3d") 